.logo_image img {
    width: 300px;
    object-fit: cover;
    height: auto;
}

.settings_main h2 {
    margin: 0;
}

.logo_main {
    padding-left: 40px;
}

.price_main h2 {
    margin-bottom: 10px;
}

::ng-deep {
    .update_logo_img {
        border-radius: 5px;
        display: block;
    }

    // .p-dialog {
    //     height: 100%;
    //     width: 50vw;
    // }

    
    .p-dialog-content {
        padding-top: 18px;
    }
    
    .p-dialog-header {
        padding: 0px;
        padding-top: 16px;
        padding-left: 16px;
        margin: 0px;
    }

    .p-dialog-header-icon {
        margin-right: 16px;
    }
}

.settings-dialog ::ng-deep .p-dialog {
    height: 100%;
    width: 50vw;
}

.dropdown-rules ::ng-deep .p-dropdown{
    width: 100%;
}

.rules-dialog ::ng-deep .p-dialog {
    height: 100%;
    max-height: 100%;
}
.add-element ::ng-deep .p-button {
    margin: 8px 8px 8px 0px;
}

.add-rule-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.info-text {
    color: var(--gray-500);
    margin: 8px;
}

// .p-inputtext-max-width,
// .p-dropdown-max-width {
//   max-width: 100%;
// }