@font-face {font-family: "engify-icons";
  src: url('engify-icons.eot?t=1717884484342'); /* IE9*/
  src: url('engify-icons.eot?t=1717884484342#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("engify-icons.woff2?t=1717884484342") format("woff2"),
  url("engify-icons.woff?t=1717884484342") format("woff"),
  url('engify-icons.ttf?t=1717884484342') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('engify-icons.svg?t=1717884484342#engify-icons') format('svg'); /* iOS 4.1- */
}

[class^="ei-"], [class*=" ei-"] {
  font-family: 'engify-icons' !important;font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ei-pipe-circle:before { content: "\ea01"; }
.ei-pipe-controller-2:before { content: "\ea02"; }
.ei-pipe-controller-3:before { content: "\ea03"; }
.ei-pipe-controller-4:before { content: "\ea04"; }
.ei-pipe-controller-6:before { content: "\ea05"; }
.ei-pipe-controller-7:before { content: "\ea06"; }
.ei-pipe-controller:before { content: "\ea07"; }
.ei-pipe-controller5:before { content: "\ea08"; }
.ei-pipe-corner-90:before { content: "\ea09"; }
.ei-pipe-corner-round:before { content: "\ea0a"; }
.ei-pipe-corner45:before { content: "\ea0b"; }
.ei-pipe-cross:before { content: "\ea0c"; }
.ei-pipe-expansion-controller:before { content: "\ea0d"; }
.ei-pipe-flange:before { content: "\ea0e"; }
.ei-pipe-reduction:before { content: "\ea0f"; }
.ei-pipe-rounded-180-end:before { content: "\ea10"; }
.ei-pipe-rounded-180:before { content: "\ea11"; }
.ei-pipe-rounded-2:before { content: "\ea12"; }
.ei-pipe-rounded-controller-180:before { content: "\ea13"; }
.ei-pipe-rounded-controller-90-1:before { content: "\ea14"; }
.ei-pipe-rounded-controller-90-2:before { content: "\ea15"; }
.ei-pipe-rounded-controller:before { content: "\ea16"; }
.ei-pipe-rounded:before { content: "\ea17"; }
.ei-pipe-split-rounded:before { content: "\ea18"; }
.ei-pipe-split:before { content: "\ea19"; }
.ei-pipe-t-piece-controller:before { content: "\ea1a"; }
.ei-pipe-t-piece-corner:before { content: "\ea1b"; }
.ei-pipe-t-piece-line:before { content: "\ea1c"; }
.ei-pipe-t-piece-ripple:before { content: "\ea1d"; }
.ei-pipe-t-piece-van:before { content: "\ea1e"; }
.ei-pipe-t-piece:before { content: "\ea1f"; }
.ei-pipe-t-piece2:before { content: "\ea20"; }
.ei-pipe-two-t-piece:before { content: "\ea21"; }
.ei-pipe:before { content: "\ea22"; }
.ei-pipes-t-piece-rounded:before { content: "\ea23"; }
.ei-two-pipe-controller:before { content: "\ea24"; }

$ei-pipe-circle: "\ea01";
$ei-pipe-controller-2: "\ea02";
$ei-pipe-controller-3: "\ea03";
$ei-pipe-controller-4: "\ea04";
$ei-pipe-controller-6: "\ea05";
$ei-pipe-controller-7: "\ea06";
$ei-pipe-controller: "\ea07";
$ei-pipe-controller5: "\ea08";
$ei-pipe-corner-90: "\ea09";
$ei-pipe-corner-round: "\ea0a";
$ei-pipe-corner45: "\ea0b";
$ei-pipe-cross: "\ea0c";
$ei-pipe-expansion-controller: "\ea0d";
$ei-pipe-flange: "\ea0e";
$ei-pipe-reduction: "\ea0f";
$ei-pipe-rounded-180-end: "\ea10";
$ei-pipe-rounded-180: "\ea11";
$ei-pipe-rounded-2: "\ea12";
$ei-pipe-rounded-controller-180: "\ea13";
$ei-pipe-rounded-controller-90-1: "\ea14";
$ei-pipe-rounded-controller-90-2: "\ea15";
$ei-pipe-rounded-controller: "\ea16";
$ei-pipe-rounded: "\ea17";
$ei-pipe-split-rounded: "\ea18";
$ei-pipe-split: "\ea19";
$ei-pipe-t-piece-controller: "\ea1a";
$ei-pipe-t-piece-corner: "\ea1b";
$ei-pipe-t-piece-line: "\ea1c";
$ei-pipe-t-piece-ripple: "\ea1d";
$ei-pipe-t-piece-van: "\ea1e";
$ei-pipe-t-piece: "\ea1f";
$ei-pipe-t-piece2: "\ea20";
$ei-pipe-two-t-piece: "\ea21";
$ei-pipe: "\ea22";
$ei-pipes-t-piece-rounded: "\ea23";
$ei-two-pipe-controller: "\ea24";

